@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  html {
    background-color: #FFFFFF; /* Usa valores hexadecimales sin comillas => ✅*/
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  h1 {
    @apply text-base font-normal;
  }

  h2 {
    @apply text-base font-semibold;
  }

  h3 {
    @apply text-secondary font-medium;
  }

  h1,
  h2,
  h4,
  h5,
  h6 {
    @apply text-primary;
  }

  p {
    @apply font-normal text-xs text-secondary;
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background-color: #6750A4;
    border-radius: 5px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 50px;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 20px;
    cursor: pointer;
  }
}
